extends ../layout

block content
  .container
    .row
      .col-md-12
        each blog in blogs
          .panel.panel-success
            .panel-heading
              a(href='/comment/show/' + blog._id)
                h3.panel-title #{blog.title}
                  small.pull-right #{blog.category}
            .panel-body
              p #{blog.content}
            .panel-footer
              span 时间： #{moment(blog.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')} &nbsp;&nbsp;&nbsp;
              span 作者：#{blog.author}
              a.pull-right(href='/comment/show/' + blog._id) 评论(#{blog.commentNum})
              span.pull-right &nbsp;&nbsp;&nbsp;
              a.pull-right(href='/blog/add/praise/' + blog._id) 赞(#{blog.praise})