extends ../layout

block content
  .container
    .row
      .col-md-12
        table.table.table-hover.table-bordered
          thead
            tr.warning
              th username
              th address
              th email
              th createAt
              th updateAt
              th 查看
              th 删除
          tbody
            each user in users
              tr
                td= user.username
                td= user.address
                td= user.email
                td= moment(user.meta.createAt).format("YYYY/MM/DD HH:mm:ss")
                td= moment(user.meta.updateAt).format("YYYY/MM/DD HH:mm:ss")
                td
                  a.btn.btn-primary(href='/user/info/' + user.username) 查看
                td
                  a.btn.btn-danger(href='/user/delete/' + user.username) 删除
